<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="mb-3">CodeCrafters</h5>
            <p class="mb-0">Empowering developers through interactive learning.</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="mb-3">Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="{% url 'usersApp:home' %}" class="text-light text-decoration-none">Home</a></li>
                <li><a href="{% url 'usersApp:User_courses' %}" class="text-light text-decoration-none">Courses</a></li>
                <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="mb-3">Connect with Us</h5>
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="#" class="text-light">Facebook</a></li>
                <li class="list-inline-item"><a href="#" class="text-light">Twitter</a></li>
                <li class="list-inline-item"><a href="#" class="text-light">LinkedIn</a></li>
                <li class="list-inline-item"><a href="#" class="text-light">Instagram</a></li>
            </ul>
        </div>
    </div>
    <hr class="my-4 bg-secondary">
    <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <p class="mb-0">&copy; 2024 CodeCrafters. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="#" class="text-light">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#" class="text-light">Terms of Service</a></li>
            </ul>
        </div>
    </div>
</div>